<div data-role="view" data-title="Upcoming Seminar" data-layout="main" data-model="app.pleniereListView" data-show="app.pleniereListView.onShow" data-after-show="app.pleniereListView.afterShow">
    <!-- START_CUSTOM_CODE_pleniereListView -->
    <!-- END_CUSTOM_CODE_pleniereListView -->
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <ul data-role="listview" data-style="" data-template="pleniereListViewModelTemplate" data-bind="{ source: pleniereListViewModel.dataSource, events: {click: pleniereListViewModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>
    <!-- START_CUSTOM_CODE_pleniereListViewModel -->
    <!-- END_CUSTOM_CODE_pleniereListViewModel -->
    <script type="text/x-kendo-template" id="pleniereListViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['title'] #</h3>
            <p>#: data['speakername'] #</p>
        </div>
    </script>
</div>