<div data-role="view" data-title="Pleniere" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">


            <div class="app-details">
                <h2>Pleniere</h2>

            </div>
        </div>

        <p>ABC</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:support@example.com">Contact us</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.homeView.homeViewModel.openLink('https://www.facebook.com/Telerik');">Like us on Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.homeView.homeViewModel.openLink('https://twitter.com/telerik');">Follow us on Twitter</a>
        </div>
        <!-- START_CUSTOM_CODE_homeViewModel -->
        <!-- END_CUSTOM_CODE_homeViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- END_CUSTOM_CODE_homeView -->
</div>