<div data-role="view" data-title="Pleniere" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">


            <div class="app-details">
                <h2>Welcome to Pleniere</h2>

            </div>
        </div>
		<h3>
            Instructions:
        </h3>
        <p>Check out exciting and interesting seminars in the upcoming seminars tab.  Add selected seminars to your calendar and keep up-to-date on new seminars</p>
        
        <p>Pleniere relies on crowd-sourcing, your contribution helps the community keep up to date.  Add new seminars in the "Add Seminar" tab, fill out the form or upload a photo of the seminar poster (data charges may apply).  You can also email seminars to add@pleniere.com.</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:support@pleniere.com">Contact us</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.homeView.homeViewModel.openLink('https://www.facebook.com/Telerik');">Like us on Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.homeView.homeViewModel.openLink('https://twitter.com/telerik');">Follow us on Twitter</a>
        </div>
        <!-- START_CUSTOM_CODE_homeViewModel -->
        <!-- END_CUSTOM_CODE_homeViewModel -->
    </div>
    
    
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- END_CUSTOM_CODE_homeView -->
</div>